<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/side-menu.css">
        <link rel="stylesheet" type="text/css" href="{{ staticfile('style.css') }}">

        <title>写真共有</title>    
    </head>
    <body>
        <div id="layout" class="page">
            {% block header %}
            <!-- ここにヘッダー -->
            {% endblock %}

        <div id="main">
            <div class="header">
                <h1>{% block title %}写真共有{% endblock %}</h1>
            </div> <!--    end of .header -->

            {% block contents %}
            <!-- ここにメインコンテンツ -->
            {% endblock %}

            {% block footer %}
            <div class="footer">
                <a href="/" class="pure-botton">トップページへ</a>
            </div><!-- end of .footer -->
            {% endblock %}
        </div><!-- end of #main-->
        </div><!-- end of #layout-->

        {% block footer_script %}{% endblock %}
    </body>
</html>